<cfoutput>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title></title>
	<meta name="description" content="ColdBox Application Template">
    <meta name="author" content="Ortus Solutions, Corp">
	<!---Base URL --->
	<base href="#event.getHTMLBaseURL()#" />
	<!---css --->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!---js --->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body data-spy="scroll">
	
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="">bluBarefootUpdater</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
			<a class="nav-link" href="">Home</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/bluBarefootUpdater/updater/daily">Daily</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/bluBarefootUpdater/updater/hourly">Hourly</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/bluBarefootUpdater/updater/prop">Property Data Only</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/bluBarefootUpdater/updater/avail">Availability Data Only</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/bluBarefootUpdater/updater/photos">Photo Data Only</a>
			</li>
			
		</ul>
		</div>
    </nav>

	<!---Container And Views --->
	<main role="main" class="container">#renderView()#</main>



</body>
</html>
</cfoutput>
